.image-gallery-index {
  background-color: transparent;
  bottom: 0;
  font-weight: bold;
  margin: 0.4rem;
  top: auto;
  z-index: 0;
}
.image-gallery-slide .image-gallery-image {
  object-fit: cover;
  height: 450px;
}

@media (min-width: 768px) {
  .image-gallery-slide .image-gallery-image {
    /* height: 320px; */
    max-height: 450px;
  }
  .image-gallery-index {
    margin: 0.8rem;
  }

  /* Desktop */

  @media (min-width: 1200px) {
    .image-gallery {
      width: 80%;
      margin: auto;
    }
    .image-gallery-slide .image-gallery-image {
      width: 100%;
    }
    .image-gallery-image {
      border-radius: 8px 8px 0px 0px;
    }
    .image-gallery-index {
      position: relative;
      text-align: center;
      color: var(--secondary-color);
      margin: 0;
    }

    .image-gallery-content {
      background-color: white;
      border-radius: 8px;
      margin: auto;
      width: 50%;
    }

    .image-gallery-right-nav,
    .image-gallery-left-nav {
      padding: 0;
    }
    .image-gallery-right-nav {
      margin-right: 1rem;
    }
    .image-gallery-left-nav {
      margin-left: 1rem;
    }
    .image-gallery-thumbnail .image-gallery-thumbnail-image {
      border-radius: 0.6rem;
      height: 60px;
    }
    .image-gallery-thumbnail.active,
    .image-gallery-thumbnail:hover,
    .image-gallery-thumbnail:focus {
      border: 4px solid var(--primary-color);
      border-radius: 0.9rem;
    }
    .image-gallery-thumbnail:focus {
      border: transparent;
    }

    .image-gallery-left-nav .image-gallery-svg,
    .image-gallery-right-nav .image-gallery-svg {
      height: 2rem;
      width: 2rem;
    }
    .image-gallery-icon {
      background-color: var(--primary-color);
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
    }

    .image-gallery-thumbnail:hover {
      border: 4px solid var(--primary-color);
    }
    .image-gallery-thumbnail {
      border-radius: 0.9rem;
    }

    .image-gallery-icon:hover {
      background-color: #b0fcf5;
    }
  }
}
