.container {
  font-weight: bold;
  color: var(--secondary-color);
  margin-top: 1.5rem;
}

.container h2 {
  margin-bottom: 1rem;
}
.calendar {
  width: 100%;
  max-width: none;
}
.verticalLine {
  display: none;
} 

/* Tablet */

 @media (min-width: 768px) {
  .calendar {
    position: relative;
  }
} 

/* Desktop */

@media (min-width: 1200px) {
  .calendar {
    position: relative;
  }

  .verticalLine {
    position: absolute;
    display: initial;
    left: 50%;
    z-index: 1;
    margin: 30px 0;
    border-left: 1px solid #a8a8a8;
    height: 257px;
    max-height: 273px;
  }
}
