.container {
  width: 100%;
  height: calc(100%-135px);
  background-color: var(--background);
  display: flex;
  flex-grow: 1;
}
.box {
  background: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  margin: auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 2rem;
  padding-top: 3rem;
  font-size: 1.3rem;
}
/* icono con fonstawersome 
.icon {
  color: var(--primary-color);
  font-size: 5rem;
  padding-bottom: 1.5rem;
} */
.icon {
  height: 120px;
  padding-bottom: 1.5rem;
}
.h3 {
  color: var(--primary-color);
  padding-bottom: 0.8rem;
}
.h5 {
  margin-bottom: 2rem;
}
.button {
  background: var(--primary-color);
  padding: 12px 100px;
}

@media (min-width: 1200px) {
  .button {
    font-size: 1.3rem;
  }
}
